.add-command {
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  .card:first-of-type {
    height: 100%;
    flex: 2;
  }
  .card:last-of-type {
    flex: 1;
    height: 100%;
  }
  .card {
    padding: 1rem;
  }
  form {
    label {
      display: block;
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--color-dark);
    }
    input[type="text"],
    input[type="number"],
    input[type="file"],
    input[type="email"],
    select,
    input[type="password"] {
      display: block;
      font-size: 1.6rem;
      font-weight: 300;
      padding: 1rem;
      margin: 1rem auto;
      width: 100%;
      border: 1px solid #777;
      border-radius: 3px;
      outline: none;
    }
  }
  .products-list {
    display: flex;

    .product {
      text-align: center;
      padding: 2px;
      border-radius: 5px;
      img {
        max-width: 200px;
      }
      button {
        margin: auto;
        display: block;
        width: 100%;
      }
    }
  }
  .qty-input {
    width: 70px !important;
  }

  .table table {
    width: 100%;
  }
}
